@model DTO.DataAccess.DataAccess.DTO.ContactMonthlyStatementEntity
@{
    ViewData["Title"] = "Delete Contact Monthly Statements";
}
<h1>Delete Contact Monthly Statements</h1>
<dl class="row">
    <dt class="col-sm-2">Statement</dt><dd class="col-sm-10">@Model.MonthlyStatement.Address.Name @Model.MonthlyStatement.Period</dd>
    <dt class="col-sm-2">Contact</dt><dd class="col-sm-10">@Model.Contact.FullName</dd>
    <dt class="col-sm-2">Amount</dt><dd class="col-sm-10">@Model.Amount</dd>
    <dt class="col-sm-2">Email Sent</dt><dd class="col-sm-10">@Model.EmailSent</dd>
    <dt class="col-sm-2">Paid</dt><dd class="col-sm-10">@Model.Paid</dd>
</dl>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
