@model IEnumerable<DTO.DataAccess.DataAccess.DTO.ContactMonthlyStatementEntity>
@{
    ViewData["Title"] = "Contact Monthly Statements";
}
<h1>Contact Monthly Statements</h1>
<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>
<table class="table">
    <thead><tr><th>Statement</th><th>Contact</th><th>Amount</th><th>Email Sent</th><th>Paid</th><th></th></tr></thead>
    <tbody>
@foreach (var item in Model) {
    <tr><td>@item.MonthlyStatement.Address.Name @item.MonthlyStatement.Period</td><td>@item.Contact.FullName</td><td>@item.Amount</td><td>@item.EmailSent</td><td>@item.Paid</td><td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Details" asp-route-id="@item.Id">Details</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td></tr>
}
    </tbody>
</table>
